# workspace files
.vscode
ksconfig.json

# OS/editor noise
Thumbs.db
.DS_Store

# kos-Ferram test script
far_test.ks

# old function library
common

# debug files
debug.txt

# porkchop files
porkchop*.txt
porkchop*.html
porkchop*.png
porkchop*.svg
plot_porkchop.py